:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white: #f4f6f0;
  --color-card: #e7e9e1;
  --color-border: #dee1d7;
  --color-label: #4e5664;
  --color-accent: #4971b5;
  --color-disabled:#dedfe9;
  --color-warning: #e30167;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #111;
  background-color: var(--color-white);
}

fieldset {
  border: none;
  border-radius: .5rem;
  background-color: var(--color-card);
  padding: 0 1rem 1rem;
}

label {
  display: block;
  color: var(--color-label);
  font-size: .8rem;
  font-weight: 700;
}

input, select {
  border: 1px solid var(--color-border);
  border-radius: .3rem;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: border 160ms ease-in, box-shadow 200ms linear;
  background-color: white;
}

input:focus, select:focus {
  outline: none;
  border: 1px solid var(--color-accent);
  box-shadow: 0 0 12px color-mix(in srgb, var(--color-accent) 33%, white);
}

input:invalid {
  border: 1px solid var(--color-warning);
}

button {
  padding: .4rem .8rem;
  border-radius: .3rem;
  border: none;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-weight: 700;
  &:disabled {
    font-weight: 400;
    color: var(--color-label);
    background-color: var(--color-disabled);
  }
}